* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: bisque;
}

section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

section input {
    flex: 1;
}